:root{
    --color1: #01d7f4;
    --color2: #ffdf03;
    --color3: hsl(29, 98%, 50%);
    --color4: #ff0014;
    --color5: #343434;
    --color6: #fff;
    --color7: #b7b6b6;
    --color8: #5c5c5c;


}

.padre{
    display: flex;

}
.columna20{
    width: 20%;
    background-color: var(--color5);
    padding:20px;
   
}
.boton{
    color: var(--color7);

    background-color: var(--color8);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    text-align: center;
}
.boton:hover{
    color: var(--color6);
    transition: 0.9s;
    -webkit-box-shadow: 10px 5px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 5px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 5px 31px 0px rgba(0,0,0,0.75);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
   
}
.columna80{
    width: 80%;

}
.caja{
    height: 25vh;
    color: white;
}
.caja1{
    background-color: var(--color1);
}
.caja2{
    background-color: var(--color2);
}
.caja3{
    background-color: var(--color3);
}
.caja3{
    background-color: var(--color3);
}
.caja4{
    background-color: var(--color4);
}